body {
    background-color: rgba(33, 194, 73, 0.658);
    font-family: Arial, sans-serif;
}

p {
    color: #fff;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

.account-info, .purchased-books {
    margin-bottom: 20px;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}