/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #ffffff;
    width: 75%;
    background: #35424a
}

input[type="file"],
button {
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

select {
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 35%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.custom-file-upload {
    position: relative;
    padding: 10px;
    cursor: pointer;
    background-color: #35424a;
    color: #fff;
    border-radius: 5px;
    width: 75%;
    margin: auto;
}

.custom-file-upload:hover {
    background: #45a049;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 75%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

.results {
    margin-top: 20px;
}

.result-item {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}