.loginPart {
    display: flex;
    justify-content: center;
    margin: 5%;
    height: max-content;
}

.loginForm {
    box-shadow: 0 0 5px 5px;
    box-shadow: black;
    background-color: transparent;
    width: 20%;
    height: max-content;
}

.fullWidthInput {
    width: 90%;
    max-height: 30px;
    border-color: cornsilk;
    background-color: ghostwhite;
    margin-top: 10px;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
}

.submitButton {
    background-color: cornflowerblue;
    color: white;
    border-style: double;
    border-color: blue;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.submitButton:hover {
    background-color: rgba(63, 187, 100, 0.849);
    transition: 500ms;
}